<a href="https://colab.research.google.com/github/sourabhumarani/GetSetUP_Email_Task/blob/main/GetSetUp_Email_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Email Address Verification**

In [25]:
#importing required libraries
import re  #importing re (regular expression for writing email format condition)
import pandas as pd   #importing pandas for datafram manipulation

In [26]:
#import and make a copy of main data set
df_main = pd.read_csv("https://raw.githubusercontent.com/sourabhumarani/GetSetUP_Email_Task/main/Sourabh_Task_Email_List_-_%20Sheet1.csv")
df = df_main.copy()
df.isnull().sum()   #checking if any missing values

EMAIL           0
ADDRESS2LINE    0
CITY            0
STATE           0
ZIP             0
ZIP4            0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   EMAIL         99 non-null     object
 1   ADDRESS2LINE  99 non-null     object
 2   CITY          99 non-null     object
 3   STATE         99 non-null     object
 4   ZIP           99 non-null     int64
 5   ZIP4          99 non-null     int64
dtypes: int64(2), object(4)
memory usage: 4.8+ KB

In [ ]:
#with the re library, writing an Email Format conditions
email_format = r"^[a-zA-Z0-9]+[\._]?[a-z A-Z 0-9]+[\._]?[@][a-zA-Z0-9]+\.[a-zA-Z0-9]+[\._]?[a-z]{1,3}$"

#checking if email addresses in the EMAIL column is matching with the our Email Format
df['Bounce/Valid'] = None  #creating column to assing if the email is Bounce or Valid
for i in range(len(df)):
  if re.search(email_format,df['EMAIL'][i]):
    df['Bounce/Valid'][i] = 'valid'
  else:
      df['Bounce/Valid'][i] = 'bounce'

In [29]:
#exporting the data sheet with newly added column indicating if the email is bounce or valid
df.to_csv("Verified_Email_Data.csv")

## **Creating Cohort by ZIP Code**

In [52]:
#Checking the Dataframe wherein ZIP based cohort need to be creating

df.head(10)

,EMAIL,ADDRESS2LINE,CITY,STATE,ZIP,ZIP4,Bounce/Valid
0,5vawalkers@verizon.net,York,Williamsburg,VA,23185,5360,valid
1,aarena4@verizon.net,Hampton City,Hampton,VA,23666,2844,valid
2,acthomas3@verizon.net,Newport News City,Newport News,VA,23608,1386,valid
3,adale@nngov.com,Newport News City,Newport News,VA,23605,1931,valid
4,ahunter407@verizon.net,Hampton City,Hampton,VA,23669,4245,valid
5,aidamm@verizon.net,Hampton City,Hampton,VA,23666,1711,valid
6,ajrachubka@verizon.net,James City,Williamsburg,VA,23188,1399,valid
7,aldrichsr@verizon.net,Newport News City,Newport News,VA,23606,1992,valid
8,alexchinn@verizon.net,Hampton City,Hampton,VA,23669,2295,valid
9,alicemutz@ymail.com,Hampton City,Hampton,VA,23666,4802,valid

In [31]:
#checking data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   EMAIL         99 non-null     object
 1   ADDRESS2LINE  99 non-null     object
 2   CITY          99 non-null     object
 3   STATE         99 non-null     object
 4   ZIP           99 non-null     int64
 5   ZIP4          99 non-null     int64
 6   Bounce/Valid  99 non-null     object
dtypes: int64(2), object(5)
memory usage: 5.5+ KB

In [33]:
# #converting data type of ZIP column from Integer to String for further operations 
df.ZIP = df.ZIP.astype("string")

In [35]:
#asssigning a variable "column" for the column that we will make a batch of from the dataframe
column = "ZIP"   
unique_values=df[column].unique() #getting unique values from the ZIP column
print(unique_values)

<StringArray>
['23185', '23666', '23608', '23605', '23669', '23188', '23606', '23662',
 '23601', '23661', '23663', '23607', '23602', '23168', '23690', '23664',
 '23693', '23692']
Length: 18, dtype: string

In [51]:
#iterator will take each unique ZIP value to access the column and separate it with contains method
for i in unique_values:
    df_op = df[df[column].str.contains(i)]

    df_op.to_csv("zip "+i+'.csv')   #for every unique ZIP an CSV or Excel file can be exported